Save a copy in Drive of the given notebook and make changes.

Output for each of the questions is provided below each question. You need to produce the same output.

In [ ]:
import numpy as np

 1. Create a 4x6 numpy array filled with all zeros.

In [ ]:
arr=np.zeros([4,6], dtype=int)
print(arr)

[[0 0 0 0 0 0]
 [0 0 0 0 0 0]
 [0 0 0 0 0 0]
 [0 0 0 0 0 0]]

2. Create a 5x5 numpy array filled with all ones.

In [ ]:
ar=np.ones((5,5))
print(ar)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

3.Create an array of (4,5) filled with 4.

In [ ]:
A=np.full((4,5),4)
print(A)

[[4 4 4 4 4]
 [4 4 4 4 4]
 [4 4 4 4 4]
 [4 4 4 4 4]]

For questions 4-13, consider the matrix

a=[[1,2,3],[1,4,5],[8,4,2]]


4. Write a code to get print the shape of the given matrix.

In [ ]:
a=np.array([[1,2,3],[1,4,5],[8,4,2]])
a.shape

(3, 3)

5.Write the code to print number of elements in a.

In [ ]:
np.size(a)

9

6. Print the 2nd row,1st column and element at (1,2) of a.

In [ ]:
print(a[2])
print(a[:,1])
print(a[1,2])

[8 4 2]
[2 4 4]
5

7. Change the element at (2,1) to 5.

In [ ]:
a[2,1]=5
print(a)

[[1 2 3]
 [1 4 5]
 [8 5 2]]

8. Print the first and the last element of the first row using stepsize approach.

In [ ]:
d=np.array([a[0,0],a[0,-1]])
d

array([1, 3])

9. Print the maximum and minimum values of a.

In [ ]:
print(np.max(a))
print(np.min(a))

8
1

10. Print row-wise maximum values and their indicies of a.

In [ ]:
print(np.amax(a, axis=1))
print(np.argmax(a, axis=1))

[3 5 8]
[2 2 0]

11. Divide all the elements of a by 4.

In [ ]:
a/4

array([[0.25, 0.5 , 0.75],
       [0.25, 1.  , 1.25],
       [2.  , 1.25, 0.5 ]])

12. Sort a along the second axis.

In [ ]:
a.sort(axis=1)
a

array([[1, 2, 3],
       [1, 4, 5],
       [2, 5, 8]])

13. Print the indices that would sort a along the second axis.

In [ ]:
sort_a=np.argsort(a,axis=1)
sort_a

array([[0, 1, 2],
       [0, 1, 2],
       [0, 1, 2]])

14. Create an identity matrix of size 6x6.

In [ ]:
ident=np.eye(6)
print(ident)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]

15. Let b=[1,4,3,2,6,8,5,4,2,0], split b into 3 arrays each of 3,4,3 elements.

In [ ]:
b=np.array([1,4,3,2,6,8,5,4,2,0])
split_arrays = np.split(b,[3,7])
split_arrays

[array([1, 4, 3]), array([2, 6, 8, 5]), array([4, 2, 0])]

16.Create a 1-D array of 40 evenly spaced elements between 0. and 1., inclusive.

In [ ]:
eve_space=np.linspace(0,1,40)
eve_space

array([0.        , 0.02564103, 0.05128205, 0.07692308, 0.1025641 ,
       0.12820513, 0.15384615, 0.17948718, 0.20512821, 0.23076923,
       0.25641026, 0.28205128, 0.30769231, 0.33333333, 0.35897436,
       0.38461538, 0.41025641, 0.43589744, 0.46153846, 0.48717949,
       0.51282051, 0.53846154, 0.56410256, 0.58974359, 0.61538462,
       0.64102564, 0.66666667, 0.69230769, 0.71794872, 0.74358974,
       0.76923077, 0.79487179, 0.82051282, 0.84615385, 0.87179487,
       0.8974359 , 0.92307692, 0.94871795, 0.97435897, 1.        ])

17. Mutliply given arrays element-wise.

a=[[4,7,2],[1,3,9]]

b=[[1,5,0],[2,7,5]]

In [ ]:
a=np.array([[4,7,2],[1,3,9]])
b=np.array([[1,5,0],[2,7,5]])
a*b

array([[ 4, 35,  0],
       [ 2, 21, 45]])

18. Create a 3x2 array with random values from 0 to 1.

In [ ]:
rand=np.random.random((3,2))
rand

array([[0.65673407, 0.82523304],
       [0.90450086, 0.13788132],
       [0.93796148, 0.49876011]])